{% extends "base.html.twig" %}

{% block javascripts %}
    <script src="{{ asset('js/app.js') }}" type="application/javascript"></script>
{% endblock %}

{% block body %}
    <div id="root">ROOT</div>
{% endblock %}
